body {
  background-color: #f2f2f2;
  background-image: url("./background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

h1 {
  text-align: center;
}

label {
  padding: 3px;
}

form {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 90%;
  padding: 10px;
  background-color: #4c4eaf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8080a5;
}

a {
  color: #4c4eaf;
  text-decoration: none;
}

.hidden {
  display: none;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}

td {
  padding: 10px;
}

.error-message {
  color: red;
}